@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  font-family: "IBM Plex Sans";
}
.mode{
  height:20px;
  padding: 5px 0;
  font-size:20px;
  margin: 10px;
}

#clickme{
  cursor: pointer;
}

#clickme:hover{
  text-decoration: underline;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 70%;
  height: 75vh;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (width: 600px) {
 .column {
    width: 100%;
  }
}

#flame{
  height:20px;
  display: inline;
  position: relative;
  left: 10px;
}