@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  font-family: "IBM Plex Sans";
}
.mode{
  height:20px;
  padding: 5px 0;
  font-size:20px;
  margin: 10px;
}

#clickme{
  cursor: pointer;
}

#clickme:hover{
  text-decoration: underline;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 70%;
  height: 75vh;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
 #sidebar, #mapdiv {
    width: 100vw;
  }
}

#flame{
  height:20px;
  display: inline;
  position: relative;
  left: 10px;
}